apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ .Release.Name }}-redis
  namespace: {{ .Release.Namespace }}
spec:
  serviceName: {{ .Release.Name }}-redis
  replicas: 3
  selector:
    matchLabels:
      db: {{ .Release.Name }}-redis
  template:
    metadata:
      labels:
        db: {{ .Release.Name }}-redis
    spec:
      containers:
      - name: redis
        image: redis:7.2
        ports:
        - name: redis
          containerPort: 6379
        resources:
          limits:
            cpu: {{ .Values.Redis.resources.limits.cpu | quote }}
            memory: {{ .Values.Redis.resources.limits.memory | quote }}
          requests:
            cpu: {{ .Values.Redis.resources.requests.cpu | quote }}
            memory: {{ .Values.Redis.resources.requests.memory | quote }}
        startupProbe:
          initialDelaySeconds: 5
          periodSeconds: 10
          timeoutSeconds: 5
          failureThreshold: 3
          exec:
            command: ["redis-cli", "ping"]
        livenessProbe:
          initialDelaySeconds: 5
          periodSeconds: 10
          timeoutSeconds: 5
          failureThreshold: 3
          exec:
            command: ["redis-cli", "ping"]
        readinessProbe:
          initialDelaySeconds: 5
          periodSeconds: 10
          timeoutSeconds: 5
          failureThreshold: 3
          exec:
            command: ["redis-cli", "ping"]
        volumeMounts:
        - name: {{ .Values.Redis.volumes.name }}
          mountPath: /redis-data
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 1
            podAffinityTerm:
              topologyKey: "kubernetes.io/hostname"
              labelSelector:
                matchExpressions:
                - key: db
                  operator: In
                  values:
                  - {{ .Release.Name }}-redis
  volumeClaimTemplates:
  - metadata:
      name: {{ .Values.Redis.volumes.name }}
    spec:
      accessModes: ["ReadWriteOnce"]
      resources:
        requests:
          storage: {{ .Values.Redis.volumes.resources.requests.storage }}
# ---
# apiVersion: networking.k8s.io/v1
# kind: NetworkPolicy
# metadata:
#   name: redis
#   namespace: dev
# spec:
#   podSelector:
#     matchLabels:
#       db: redis
#   policyTypes:
#     - Ingress
#     - Egress
#   ingress:
#   - from:
#     - podSelector:
#         matchLabels:
#           app: web-api
#     ports:
#     - protocol: TCP
#       port: 6379
---
apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-redis
  namespace: {{ .Release.Namespace }}
spec:
  clusterIP: None
  selector:
    db: {{ .Release.Name }}-redis
  ports:
  - port: 6379
    targetPort: {{ .Values.Redis.ports.target }}